
.landingTitle {
  font-family: Cormorant, Helvetica,Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
}

.title {
  font-size: 250%;
  padding: 8%;
}

.subTitle {
  font-size: 150%;
  padding-bottom: 5%;
}
