
.project {
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
}

.project-description {
  padding: 10% 15%;
}

.project-image {

}

.description {
  padding: 0% 20%;
}

.demoImage {
  max-width: 264px;
  width: 95vw;
  height: auto;
}
