
//===============================================
// Site Theme
//===============================================

$tan: #edd9c0;
$green: #c9d8c5;
$blue: #a8b6bf;
$brown: #7d4627;
$textColor: white;
$linkColor: black;
$linkHoverColor: dodgerblue;
$iconSize: 2.5em;
$landingTitleFontSize: 2em;
$landingIconsFontSize: 2.5em;


@font-face {
  font-family: Cormorant;
  src: url(fonts/cormorant/cormorant/Cormorant-Regular.ttf);
}

@font-face {
  font-family: Lato;
  src: url(fonts/lato/Lato-Medium.ttf);
}

//===============================================
// Global Styles
//===============================================

body {
  background: white url("photos/background.png") contain no-repeat fixed center;
  // background-color: $brown;
  box-sizing: border-box;
  font-family: runda;
  padding: 0px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
  transition: 0.75s;
  color: $linkColor;
}

a:focus, a:visited {
  text-decoration: none;
  color: $linkColor;
}

/* Get this to work */
a:active, .icons:hover, .btn:hover  {
  color: $linkHoverColor;
}



footer {
  position: relative;
  color: $textColor;
  height: 15vh;

  p {
    @extend .center;
  }
}

.no-padding {
  padding: 0px;
}

//===============================================
// Landing View Styles
//===============================================

.video {
  position: absolute;
  top: 50%; left: 50%;
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
  width: 100vw;
  height: auto;
  transform: translate(-50%, -50%);
}

.videoOverlay {
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.25);
  z-index: -99;
  width: 100vw;
  height: 100vh;
}





.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}







//===============================================
// Component Styles
//===============================================

.contact, .about {
  padding: 33px;
}

.hidden {
  display: none;
}

//===============================================
// Project View Styles
//===============================================




.bg-1 {
  background-color: $green;
}

.bg-2 {
  background-color: $brown;
}

.bg-3 {
  background-color: $blue;
  box-shadow: 0px 0px 10px #888888;
  color: #555555;
}

.title1 {
  color: $brown;
}

.title2 {
  color: $green;
}

.title3 {
  color: $brown;
}


/*
// .sliderImageLeft {
//   opacity: 0;
//   transform: translateX(-30%) scale(0.95);
// }

// .sliderImageRight {
//   opacity: 0;
//   transform: translateX(30%) scale(0.95);
// }

// .sliderImageLeft.active .sliderImageLeft.active {
//   opacity: 1;
//   transform: translateX(0%) scale(1);
// }

*/
